/notas.txt
/referencia-muestra-resolucion-1a-arriba.png
/referencia-muestra-resolucion-1b-arriba.png
/referencia-muestra-resolucion-2a-medio.png
/referencia-muestra-resolucion-2b-medio.png
/referencia-muestra-resolucion-2c-medio.png
/referencia-muestra-resolucion-3a-abajo.png
/referencia-muestra-resolucion-4a-completo-con-css.png
/video-referencia.mp4